#mainText {
  padding-top: 3vh;
}

#mainText > ul li {
  display: inline-block;
  list-style: none;
  padding: 0 28px 0 0;
}
.pathfinder-wrapper {
  padding: 10vh;
}
.pathfinder-menu {
  display: block;
}
.pathfinder-menu-mobile {
  display: none;
}

#displayLegendsList {
  display: block;
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

#displayLegendsList li {
  margin-right: 0px;
  padding: 0px 20px 0px 0px !important; /* Add some spacing between list items */
}
.lengendListMobile {
  display: none;
}

.legendListDesktop {
  display: block;
}

@media screen and (max-width: 640px) {
  #mainText {
    padding-top: 0vh;
  }
  .pathfinder-wrapper {
    padding: 5vh;
  }
  .pathfinder-menu {
    display: none;
  }
  .pathfinder-menu-mobile {
    display: block;
  }
  #displayLegendsList {
    display: none;
  }
  .lengendListMobile {
    display: block;
    margin-bottom: 1vh;
  }
  .legendListDesktop {
    display: none;
  }
}

.rowGridNodes {
  margin-bottom: -8px;
}

@media screen and (max-width: 1000px) {
  .rowGridNodes {
    margin-bottom: -20px;
    height: 40px;
  }
}

@media screen and (max-width: 769px) {
  .rowGridNodes {
    margin-bottom: -14px;
    height: 25px;
  }
}

@media screen and (max-width: 380px) {
  .rowGridNodes {
    margin-bottom: -19px;
    height: 8px;
  }
}

.node {
  width: 30px;
  height: 30px;
  outline: 1px solid rgb(219, 248, 175);
  display: inline-block;
  background-color: gray;
}

@media screen and (max-width: 1000px) {
  .node {
    width: 20px;
    height: 20px;
    outline: 0.4px solid rgb(175, 216, 248);
    display: inline-block;
    background-color: gray;
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 769px) {
  .node {
    width: 12px;
    height: 12px;
    outline: 0.2px solid rgb(175, 216, 248);
    display: inline-block;
    background-color: gray;
    margin: 0 0 0 0;
  }
}

@media screen and (max-width: 380px) {
  .node {
    width: 9px;
    height: 9px;
    outline: 0.08px solid rgb(175, 216, 248);
    display: inline-block;
    background-color: gray;
    margin: 0 0 0 0;
  }
}

.node-start {
  background-image: url(triangletwo-right.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited {
  background-color: blue;
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-visited.weight {
  border: 1px solid rgb(175, 216, 248);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(238, 75, 35, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(231, 243, 66, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(96, 229, 24, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(59, 209, 119, 0.75);
  }
}

.node-wall {
  animation-name: wallAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes wallAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgb(96, 155, 180);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(51, 88, 103);
  }

  100% {
    transform: scale(1);
    background-color: rgb(12, 53, 71);
  }
}

.instantvisitedobject {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(178, 67, 255, 0.75);
  /*background-color: rgba(0, 190, 218, 0.75);*/
}

.instantvisitedobject.weight {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgba(178, 67, 255, 0.75);
  /*background-color: rgba(0, 190, 218, 0.75);*/
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.visitedobject {
  /*background:red*/
  border: 1px solid rgb(175, 216, 248);
  animation-name: visitedObjectAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedobject.weight {
  /*background:red*/
  border: 1px solid rgb(175, 216, 248);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedObjectAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedObjectAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(97, 0, 20, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(178, 67, 255, 0.75);
  }
}

.node-unvisited {
  border: 1px solid rgb(175, 216, 248);
  background-color: white;
}

.unvisited.weight {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: unvisitedWeightAnimation;
  animation-duration: 0.3s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes unvisitedWeightAnimation {
  0% {
    transform: scale(0.3);
    /*background-color: rgb(12, 53, 71);*/
  }

  50% {
    transform: scale(1.2);
    /*background-color: rgb(12, 53, 71);*/
  }

  100% {
    transform: scale(1);
    /*background-color: rgb(12, 53, 71);*/
  }
}

.unvisited.mud {
  background: brown;
}

.current {
  border: 1px solid rgb(175, 216, 248);
  background-color: rgb(255, 254, 106);
}

.object {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(diamond.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantobjectTransparent {
  /*border: 1px solid rgb(175, 216, 248);*/
  opacity: 0.5;
  background-image: url(diamond.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.objectTransparent {
  /*border: 1px solid rgb(175, 216, 248);*/
  opacity: 0.5;
  background-image: url(diamond.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.node-end {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: red;
  background-image: url(circle.svg);
  /*background-color: rgb(255, 254, 106);*/
  /*background-color: rgba(232, 147, 12, 0.75);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes specialNodes {
  0% {
    transform: scale(0.3);
    /*background-color: darkslategrey;*/
  }

  50% {
    transform: scale(1.2);
    /*background-color: darkslategrey;*/
  }

  100% {
    transform: scale(1);
    /*background-color: darkslategrey;*/
  }
}

.instantshortest-path {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
}

.instantshortest-path.weight {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  /*background-position: center;
  background-repeat: no-repeat;
  background-size: contain;*/
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.shortest-path.weight {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-color: rgb(255, 254, 106);
  background-image: url(weight.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes triangletwo {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

.shortest-path-unweighted {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(spaceshiptwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.node-shortest-path {
  animation-name: shortestPath;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes shortestPath {
  0% {
    transform: scale(0.6);
    background-color: rgb(255, 254, 106);
  }

  50% {
    transform: scale(1.2);
    background-color: rgb(255, 254, 106);
  }

  100% {
    transform: scale(1);
    background-color: rgb(255, 254, 106);
  }
}

.grid {
  margin: 35px 0 0;
}

@media screen and (max-width: 1500px) {
  .grid {
    margin: 35px -10px 0;
  }
}

@media screen and (max-width: 900px) {
  .grid {
    margin: 35px -15px 0;
  }
}

@media screen and (max-width: 500px) {
  .grid {
    margin: 35px -83px 0;
  }
}

@media screen and (max-width: 380px) {
  .grid {
    margin: 35px -15px 0;
  }
}

.instantshortest-path-up {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(triangletwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-up {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(triangletwo-up.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-down {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(triangletwo-down.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-down {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(triangletwo-down.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-right {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-right {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantshortest-path-left {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(triangletwo-left.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.shortest-path-left {
  /*border: 1px solid rgb(175, 216, 248);*/
  background: url(triangletwo-left.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: triangletwo;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.instantStartTransparent {
  /*border: 1px solid rgb(175, 216, 248);*/
  opacity: 0.5;
  background-image: url(triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.startTransparent {
  /*border: 1px solid rgb(175, 216, 248);*/
  opacity: 0.5;
  background-image: url(triangletwo-right.svg);
  background-color: rgb(255, 254, 106);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: specialNodes;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedStartNodeBlue {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(triangletwo-right.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedStartNodePurple {
  /*border: 1px solid rgb(175, 216, 248);*/
  background-image: url(triangletwo-right.svg);
  /*background-color: rgb(255, 254, 106);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodePurpleAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedObjectNode {
  background-image: url(diamond.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedendNodeBlue {
  background-image: url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodeBlueAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

.visitedTargetNodePurple {
  background-image: url(circle.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  animation-name: visitedStartNodePurpleAnimation;
  animation-duration: 2s;
  animation-timing-function: ease-out;
  animation-delay: 0;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-play-state: running;
}

@keyframes visitedStartNodePurpleAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(41, 4, 24, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(97, 0, 20, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(216, 5, 141, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(178, 67, 255, 0.75);
  }
}

@keyframes visitedStartNodeBlueAnimation {
  0% {
    transform: scale(0.3);
    background-color: rgba(0, 0, 66, 0.75);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(17, 104, 217, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(0, 217, 159, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(0, 190, 218, 0.75);
  }
}

.btn-disabled {
  pointer-events: none;
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}
